* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}

/* header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 15rem;
}
.nav-items {
  display: flex;
  flex-direction: row;
}
.header-nav {
  margin: auto;
}
.nav-li {
  padding: 0 4rem;
  list-style: none;
}
.nav-li > a,
.header-logo {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.nav-link:link,
.nav-link:visited {
  font-size: 1.5rem;
}
.nav-link:hover,
.nav-link:active {
  text-decoration: underline;
}

.header-logo {
  align-self: flex-start;
  font-size: 2rem;
}

/* hero section */
.hero {
  height: 100vh;
  width: 100vw;
  background: url("assets/Desktop_Backgrounds_1920x1200_64.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 0 auto;
  width: 35rem;
  text-align: center;
}
.section-title {
  color: #fff;
  font-size: 5rem;
  line-height: 1.2;
  margin-top: 2rem;
}
.logo {
  width: 10rem;
  height: 10rem;
  transition: transform 1s;
}
.img-box {
  margin-top: 65%;
  height: 15rem;
}

.logo:hover {
  transform: rotateY(180deg) scale(1.2);
  width: 12rem;
  height: 12rem;
}
.hero-txt {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.8rem;
  margin-top: 2rem;
}
/* info section */
.second-title {
  color: #464547;
  padding-top: 15rem;
}

.info {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
.third-title {
  font-size: 2rem;
  margin-top: 3rem;
  color: #666;
}
.info-txt {
  color: #000000;
  margin-top: 3rem;
  font-size: 1.8rem;
}
.btn {
  font-family: "Oswald", sans-serif;
  display: inline-block;
  margin-top: 5rem;
  background-color: #55c2d8;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  letter-spacing: 0.2rem;
  border-radius: 20px;
  text-transform: uppercase;
  transform: translateY(-100%);
  transition: transform 1s;
}
.btn:hover {
  transform: rotate(22deg);
}
.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}
/* culture section */

.culture {
  height: 100vh;
  width: 100vw;
  background: url(assets/IMG_1334_72dpi_RGB_1.png);
  background-color: rgba(140, 79, 42, 0.5);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}

.culture-title {
  padding-top: 15rem;
}
.video-btn-box {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 10rem;
}

.video-btn {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  background-image: url("assets/Learn-more-button.png");
  background-size: cover;
  transition: background-image 0.6s ease-in;
}

.video-btn-box:hover .video-btn {
  background-image: url("assets/12345-fotor-bg-remover-20230613222424.png");
}
.culture-container {
  margin: 0 auto;
  width: 40rem;
  text-align: center;
}

.culture-txt {
  color: #fff;
  margin-top: 5rem;
  font-size: 1.8rem;
  line-height: 3.5rem;
}

/* footer */

.footer {
  background-color: #464547;
  color: rgba(255, 255, 255, 0.4);
  padding-left: 20rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.footer-logo-img {
  width: 3rem;
}

.footer-logo-txt {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.footer-list {
  list-style: none;
  margin-top: 1rem;
}
.rights {
  padding-bottom: 1rem;
  align-self: end;
}
.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
